$font: "Poppins";
$text-color: #fff;
$text-color-secondary: #94a1b2;
$colorIcons: (
  "html": #e44d26,
  "css": #1572b6,
  "sass": #cf649a,
  "tailwind": #0ed3cf,
  "boostrap": #6f2cf4,
  "javascript": #f0db4f,
  "react": #61dafb,
  "sql": #d10a15,
);
$body-bg-color: #16161a;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;
$gradient: linear-gradient(
  90deg,
  rgba(44, 182, 125, 1) 0%,
  rgba(66, 162, 149, 1) 85%
);
