$font: 'Poppins';
$text-color:#fff;
$text-color-secondary: #94a1b2;
$html:#E44D26;
$css:#1572B6;
$sass:#CF649A;
$tailwind:#0ED3CF;
$boostrap:#6F2CF4;
$javascript:#F0DB4F;
$react:#61DAFB;
$sql:#D10A15;
$body-bg-color: #16161a;
$bg-color:#111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius:5px;
$gradient: linear-gradient(90deg, rgba(44,182,125,1) 0%, rgba(66,162,149,1) 85%);