.information {
    @include flexCenter;
    flex-direction: column;
    background-color: $bg-color-secondary;
    padding: 16px;
    margin-bottom: 32px;
    text-align: left;
    width: 80%;
    border-radius: $card-border-radius;

    &__card {
        @include flexCenter;
        justify-content: start;
        gap: 16px;
        padding: 13px;
        margin-bottom: 13px;
        border-bottom: 1px solid $text-color;
        width: 100%;

        h3 {
            color: $text-color;
            font-size: 13px;
            margin-bottom:8px;

        }

        p {
            color: $text-color-secondary;
            font-weight: bold;

        }

        svg {
            background-color: $bg-color;
            padding: 8px;
            width: 48px;
            height: 48px;
            border-radius: $card-border-radius;
        }

    

        &-mail {
            color:#e93b81;

        }

        &-map {
            color: #6ab5b9;

        }

        &-phone {
            color:#c17ecb;

        }
        
    }

}